@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Nunito", sans-serif;
    font-style: normal;
    color: #fff;
    background-position: 8rem;
    background-image: url('background.jpg');
}

header {
    padding: 1.5rem 1.5rem;
    display: block;
    /* background-color: #1c1c1c; */
}

.header-main h1 {
    user-select: none;
    font-weight: 800;
}

.header-main {
    justify-content: space-between;
    display: flex;
    padding-left: 4rem;
    padding-right: 6rem;
}

.header-content {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.header-content a i {
    align-items: center;
    margin-right: .5rem;
}

.header-content a {
    color: #fff;
    text-decoration: none;
}

.header-content a:hover {
    opacity: .6;
}